body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif; }

.template {
  background: #77891B;
  height: 100px;
  width: 150px;
  float: right; }
  .template span {
    font-size: 27px; }

.barContAll {
  width: 150px;
  height: 250px;
  position: fixed;
  top: 10%;
  left: 0px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .barContAll .singleBtnCont {
    width: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .barContAll .singleBtnCont .leftPanelCont {
      width: 20%;
      height: 100vh;
      position: fixed;
      top: 0px;
      left: -20%;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .barContAll .singleBtnCont .leftPanelActive {
      left: 0%; }
    .barContAll .singleBtnCont .barContLeft {
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 54px;
      -webkit-transition: all .1s;
      -o-transition: all .1s;
      transition: all .1s; }
      .barContAll .singleBtnCont .barContLeft .iconFA {
        color: white;
        font-size: 20px; }
      .barContAll .singleBtnCont .barContLeft:hover {
        cursor: pointer; }
      .barContAll .singleBtnCont .barContLeft .ys {
        padding-right: 3px; }
    .barContAll .singleBtnCont .barContRight {
      background: #4c4c4c;
      width: 100px;
      height: 50px;
      text-align: center;
      line-height: 50px; }
      .barContAll .singleBtnCont .barContRight span {
        color: #fff;
        font-size: 14px; }
  .barContAll .menu {
    top: 0px; }
    .barContAll .menu .barContLeft {
      background: #77891B; }
      .barContAll .menu .barContLeft:hover {
        background: #8a9e1f; }
    .barContAll .menu .leftPanelCont {
      background: #77891B;
      -webkit-box-shadow: inset -5px 0px 8px #5d6b15;
              box-shadow: inset -5px 0px 8px #5d6b15; }
  .barContAll .fav {
    top: 50px; }
    .barContAll .fav .barContLeft {
      background: #D54A2D; }
      .barContAll .fav .barContLeft:hover {
        background: #d95c42; }
    .barContAll .fav .leftPanelCont {
      background: #D54A2D;
      -webkit-box-shadow: inset -5px 0px 8px #b93f25;
              box-shadow: inset -5px 0px 8px #b93f25; }
  .barContAll .subs {
    top: 100px; }
    .barContAll .subs .barContLeft {
      background: #49B1BC; }
      .barContAll .subs .barContLeft:hover {
        background: #5cb9c3; }
    .barContAll .subs .leftPanelCont {
      background: #49B1BC;
      -webkit-box-shadow: inset -5px 0px 8px #3d9ba5;
              box-shadow: inset -5px 0px 8px #3d9ba5; }
  .barContAll .insta {
    top: 150px; }
    .barContAll .insta .barContLeft {
      background: #ccc61e; }
      .barContAll .insta .barContLeft:hover {
        background: #dfd825; }
    .barContAll .insta .leftPanelCont {
      background: #ccc61e;
      -webkit-box-shadow: inset -5px 0px 8px #ada819;
              box-shadow: inset -5px 0px 8px #ada819; }
  .barContAll .vid {
    top: 200px; }
    .barContAll .vid .barContLeft {
      background: #B22F34; }
      .barContAll .vid .barContLeft:hover {
        background: #c6343a; }
    .barContAll .vid .leftPanelCont {
      background: #B22F34;
      -webkit-box-shadow: inset -5px 0px 8px #96282c;
              box-shadow: inset -5px 0px 8px #96282c; }

.barContAllActive {
  left: 20%; }
